<script>
  $(document).ready(function() {
    $("#recipe_concoction_type_id").select2({
      placeholder: "Pick me!"
    });

    $("#recipe_ingredients_ingredient_ids").select2({
      placeholder: "Pick me!"
    });

    $("#recipe_influencing_recipes_influencing_recipe_ids").select2({
      placeholder: "Pick me!"
    });
  });
</script>

<%= form_for(@recipe) do |f| %>
  <div class="row">
    <div class="two columns">
    </div>

    <div class="eight columns">
      <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@recipe.errors.count, 'error') %> prohibited this recipe from being saved:
          </h2>

          <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= f.label :title %><br />
      <%= f.text_field :title, class: "u-full-width" %>
    </div>

    <div class="six columns">
      <%= f.label :concoction_type %><br />
      <%= f.collection_select :concoction_type_id,
        ConcoctionType.all, :id, :name, include_blank: true,
            class: "u-full-width", id: 'concoction-type', prompt: '' %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= f.label :yields %><br />
      <%= f.number_field :yields, class: "u-full-width" %>
    </div>

    <div class="six columns">
      <%= f.label :yields_unit %><br />
      <% units = { 'gallons' => 'gallons' } %>
      <%= f.select :yields_unit, units, class: "u-full-width" %>
    </div>
  </div>

  <div class="row">
    <div class="eight columns">
      <%= f.label :description %><br />
      <%= f.text_area :description, class: "u-full-width" %>
    </div>
  </div>

  <%= f.fields_for :ingredients do |ingredients_form| %>
    <%= ingredients_form.label :ingredient %>
    <%= ingredients_form.select :ingredient, options_from_collection_for_select(Ingredient.all, :id, :name, @recipe.ingredients.try(:first).try(:id)), include_blank: true, prompt: true %>
  <% end %>

  <div class="row">
    <div class="eight columns">
      <%= f.label :directions %><br />
      <%= f.text_area :directions, class: "u-full-width" %>
    </div>

    <%= f.fields_for :influencing_recipes do |influencing_recipes_form| %>
      <%= influencing_recipes_form.label :influencing_recipes %>
      <%= influencing_recipes_form.collection_select :influencing_recipe_ids, other_recipes_for_select(@recipe.id), :id, :title, { selected: @recipe.influencing_recipe_ids, include_blank: true, prompt: '' }, { multiple: true } %>
    <% end %>
  </div>

  <%= f.submit nil, class: 'button-primary' %>
<% end %>
