<script>
  $(document).ready(function() {
    $("select").select2({
      placeholder: "Concoction type:"
    });
  });
</script>

<%= form_for(@recipe) do |f| %>
  <div class="row">
    <div class="two columns">
    </div>

    <div class="eight columns">
      <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@recipe.errors.count, 'error') %> prohibited this recipe from being saved:
          </h2>

          <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= f.label :title %><br />
      <%= f.text_field :title, class: "u-full-width" %>
    </div>

    <div class="six columns">
      <%= f.label :concoction_type %><br />
      <%= f.select :concoction_type,
            options_from_collection_for_select(ConcoctionType.all, :id, :name, @recipe.concoction_type.try(:id)),
            class: "u-full-width" %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= f.label :yields %><br />
      <%= f.number_field :yields, class: "u-full-width" %>
    </div>

    <div class="six columns">
      <%= f.label :yields_unit %><br />
      <% units = { 'gallons' => 'gallons' } %>
      <%= f.select :yields_unit, units, class: "u-full-width" %>
    </div>
  </div>

  <div class="row">
    <div class="eight columns">
      <%= f.label :description %><br />
      <%= f.text_area :description, class: "u-full-width" %>
    </div>
  </div>

  <%= f.fields_for :ingredients do |ingredients_form| %>
    <%= ingredients_form.label :ingredient %>
    <%= ingredients_form.select :ingredient, options_from_collection_for_select(Ingredient.all, :id, :name, @recipe.ingredients.try(:first).try(:id)), include_blank: true, prompt: true %>
  <% end %>

  <div class="row">
    <div class="eight columns">
      <%= f.label :directions %><br />
      <%= f.text_area :directions, class: "u-full-width" %>
    </div>

    <%= f.fields_for :influencing_recipes do |influencing_recipes_form| %>
      <%= influencing_recipes_form.label :influencing_recipes %>
      <%= influencing_recipes_form.select :influencing_recipes, Recipe.where_not(id: @recipe.id).map { |r| [r.title, r.id] }, multiple: true %>
      <%# <%= influencing_recipes_form.select :influencing_recipes, options_from_collection_for_select(Recipe.all, :id, :title, @recipe.influencing_recipe_ids), include_blank: true, prompt: true, multiple: true %1> %>
    <% end %>
  </div>

  <%= f.submit nil, class: 'button-primary' %>
<% end %>
