<% if notice %>
  <div id="notice" class="well bg-info">
    <%= notice %>
  </div>
<% end %>

<div class="row">
  <h1><%= @recipe.title %></h1>

  <p class="blog-post-meta">
    <%= time_tag(@recipe.created_at) %>
  </p>

  <dl class="dl-horizontal six columns">
    <dt><strong>Concoction Type</strong></dt>
    <dd>
      <p>
        <%= @recipe.concoction_type.name %>
      </p>
    </dd>

    <dt><strong>Description</strong></dt>
    <dd>
      <%= simple_format(@recipe.description) %>
    </dd>

    <dt><strong>Yields</strong></dt>
    <dd>
      <p>
        <%= @recipe.yields %>
      </p>
    </dd>

    <dt>Directions</dt>
    <dd>
      <%= simple_format(@recipe.directions) %>
    </dd>

    <dt>Last Updated</dt>
    <dd>
      <p>
        <%= time_ago_in_words(@recipe.updated_at) %></time>
      </p>
    </dd>
    <dl>
</div>

<div class="row">
  <p class="six columns">
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: 'btn btn-info' %>
    <%= link_to 'Back', recipes_path, class: 'btn btn-default' %>
  </p>
</div>
