<%= form_for(@concoction_type) do |f| %>
  <div class="row">
    <div class="twelve columns">
      <% if @concoction_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@concoction_type.errors.count, "error") %> prohibited this concoction_type from being saved:</h2>

          <ul>
          <% @concoction_type.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "u-full-width" %>
    </div>
  </div>

  <%= f.submit class: "button-primary" %>
<% end %>
